<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
       @await Component.InvokeAsync("WriterProfileMini")
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/icons/mdi.html">
                <span class="menu-title">Profile</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Blog/BlogListByWriter">
                <span class="menu-title">My Blogs</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Blog/BlogAdd">
                <span class="menu-title">New Blog</span>
                <i class="mdi mdi-new-box menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">Messages</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Blog/Index">
                <span class="menu-title">Visit Site</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">Settings</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Login/LogOut">
                <span class="menu-title">Log Out</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>