
<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashborad</h1>
                <h4>In this panel of our project, Admin operations are performed on an Area structure. </h4>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Recent Blog</h1>
                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <small>All Blogs</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Blog Site 
                </h3>
                <small>Product Promotion, Advertisements, Promotions, Promotions</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>