@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Writer Blogs</h1>
<a href="/Blog/BlogAdd" class="btn btn-primary">New Blog</a>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Blog Title</th>
        <th>Create Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
        
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BlogId</td>
    <td>@item.BlogTitle</td>
    <td>@item.BlogCreateDate</td>
    <td>@item.Category.CategoryName</td>
    @if (item.BlogStatus == true)
    {
        <td>Aktif</td>
    }
    else
    {
        <td>Pasif</td>
    }
    <td><a href="/Blog/BlogDelete/@item.BlogId" class="btn btn-danger">Delete</a></td>
    <td><a href="/Blog/BlogUpdate/@item.BlogId" class="btn btn-success">Update</a></td>
</tr>
    }
</table>

