@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered" >
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Category Status</th>
        <th>Category Details</th>
        <th>Caategory Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-primary">Details</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
