<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            @await Component.InvokeAsync("AdminProfile")

            <li>
                <a asp-controller="Widget" asp-action="Index"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span></span></a>
           
            </li>

            <li>
                <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>
            </li>
            <li>
                <a href="~/Admin/Category/Index"><i class="fa fa-group"></i> <span class="nav-label">Categories</span></a>
            </li>
            <li>
                <a href="widgets.html"><i class="fa fa-list"></i> <span class="nav-label">Blogs</span></a>
            </li>
            <li>
                <a href="widgets.html"><i class="fa fa-comment"></i> <span class="nav-label">Comment</span></a>
            </li>
            <li>
                <a href="widgets.html"><i class="fa fa-user"></i> <span class="nav-label">Writers</span></a>
            </li>
            <li>
                <a href="widgets.html"><i class="fa fa-info"></i> <span class="nav-label">Settings</span></a>
            </li>

            <li>
                <a href="widgets.html"><i class="fa fa-diamond"></i> <span class="nav-label">Notification</span></a>
            </li>
            <li>
                <a href="widgets.html"><i class="fa fa-phone"></i> <span class="nav-label">Contact</span></a>
            </li>
            <li>
                <a href="/Admin/Blog/BlogListExcel"><i class="fa fa-address-book"></i> <span class="nav-label">Excel Download</span></a>
            </li>
            <li>
                <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Statistic</span></a>
            </li>


        </ul>

    </div>
</nav>