
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Download All Blog Ttitle</h1>
<br /> 
<a href="~/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Download Excel List</a>
