@model Writer
<li class="nav-header">
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="/Admins/img/profile_small.jpg" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">@Model.WriterName</span>
            <span class="text-muted text-xs block">@Model.WriterCity <b class="caret"></b></span>
        </a>
    </div>
</li>